/* 
    The following stylesheet is a fallback in case a user tries to access 
    the page using an older browser that doesn't support Flexbox.
*/

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    max-width: 980px;
    margin: 0 auto;
}

.container {
    text-align: justify;
}

.container:after {
    content: '';
	display: inline-block;
	width: 100%;
}

.box {
    max-width: 230px;
    width: calc(25% - 4px);
    border: 1px solid black;
    position: relative;
    display: inline-block;
}

.box:before {
    content: "";
    display: table;
    padding-top: 100%;
}

.box-button { 
    position: absolute;
    width: 100px;
    padding: 20px 10px;
    margin-left: -50px;
    margin-top: -30px;
    top: 50%;
    left: 50%;
    font-size: 24px;
    border-radius: 10px;
    transition: all 0.2s;
}

.box-button:hover {
    cursor: pointer;
    background-color: #333;
    color: #fff;
}

.white {
    background-color: white;
}

.red {
    background-color: red;
}

.green {
    background-color: green;    
}

.blue {
    background-color: blue;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        -webkit-box-align: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .box {
        display: block;
        width: 50%;
        margin: 0 auto;
    }

    .box-button {
        width: 50%;
    }
}
